.header {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.blog-title {
  margin: 0;
}

.menu {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 1rem;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 1rem;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
}

.menu a:hover,
.menu a.active {
  background-color: #333;
  color: #fff;
}

.content {
  /* display: flex; */
  justify-content: center;
  margin-top: 2rem;
}

#grid-blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0 2rem;
}
